:root {
  --primary-color: #428352;
  --secondary-color: #924A6C;
  --text-color: #292929;
  --link-color: var(--secondary-color);
  --heading-1-font-size: 48px;
  --heading-1-line-height: 1.5;
  --heading-2-font-size: 24px;
}

$color-blue: #003D75;
$color-dark-blue: #002140;
$color-light-blue: #ECF1F5;
$color-lighter-blue: #F2F8FC;
$color-light-gray: #B2B2B2;
$color-yellow: #FFB200;

$page-width: 1000px;
$page-margin-side: 24px;
