@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Regular.woff2?v=1.101") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Semibold.woff2?v=1.101") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/Bold/OpenSans-Bold.woff2?v=1.101") format("woff2");
  font-weight: bold;
  font-style: normal;
}
