<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" title="{{config.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{assets.style}}">
    <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">
    <link rel="dns-prefetch" href="https://whitepaper.myelin.ch">
    <link rel="icon" href="{{assets.favicon_16}}" sizes="16x16">
    <link rel="icon" href="{{assets.favicon_32}}" sizes="32x32">
    <link rel="icon" href="{{assets.favicon_128}}" sizes="128x128">
    <link rel="mask-icon" href="{{assets.safari_mask_icon}}" color="#428352">
    <link rel="apple-touch-icon" sizes="180x180" href="{{assets.apple_touch_icon}}">
    <meta name="theme-color" content="#428352" />
    <title>{{title}}</title>
</head>
<body>
  <header class="page-header">
    <nav class="page-header-nav">
      <ul class="items">
        <li class="item -logo">
          <a href="/" class="link" aria-label="Go to homepage">
            <svg width="149" height="62">
                <use xlink:href="{{assets.header_logo}}#logo" href="{{assets.header_logo}}#logo"></use>
            </svg>
          </a>
        </li>

        <li class="item">
          <a href="{{additional.blog_url}}"
              class="link"
              title="Blog">Blog</a>
        </li>

        {{#nav}}
          <li class="item">
            <a href="{{path}}"
               class="link{{#is_active}} -active{{/is_active}}"
               title="{{title}}">{{title}}</a>
          </li>
        {{/nav}}
      </ul>
    </nav>
  </header>
  <main class="page-content">
    {{{content}}}
  </main>
  <footer class="page-footer">
    <div class="content">
      <div class="copyright">© {{year}} Myelin Research Group</div>
      <div class="info">
        Feather Icons by <a href="https://github.com/colebemis" class="link">@colebemis</a>.
        <a href="https://github.com/{{additional.website_repo}}/edit/master/{{page_file}}" class="link">Improve this page</a>
      </div>
    </div>
  </footer>
</body>
</html>
