<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" title="{{config.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{assets.style}}">
    <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">
    <title>{{title}}</title>
</head>
<body>
  <header class="page-header">
    <nav class="page-header-nav">
      <ul class="items">
        <li class="item -logo">
          <a href="/" class="link"><img src="{{assets.header_logo}}"
             srcset="{{assets.header_logo}} 1x, {{assets.header_logo_2x}} 2x"
             alt="Myelin Logo"
             title="Myelin Logo"></a>
        </li>

        <li class="item">
          <a href="{{additional.blog_url}}"
              class="link"
              title="Blog">Blog</a>
        </li>

        {{#nav}}
          <li class="item">
            <a href="{{path}}"
               class="link{{#is_active}} -active{{/is_active}}"
               title="{{title}}">{{title}}</a>
          </li>
        {{/nav}}
      </ul>
    </nav>
  </header>
  <main class="page-content">
    {{{content}}}
  </main>
  <footer class="page-footer">
    <div class="content">
      <div class="copyright">© {{year}} Myelin</div>
      <div class="info">
        Logo by <a href="https://github.com/StefanieJaeger" class="link">@StefanieJaeger</a>.
        Feather Icons by <a href="https://github.com/colebemis" class="link">@colebemis</a>.
        <br />
        <a href="https://github.com/{{additional.website_repo}}/edit/master/{{page_file}}" class="link">Improve this page</a>
      </div>
    </div>
  </footer>
</body>
</html>
