html {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
