.inline-link {
  color: var(--link-color);
  padding-top: 4px;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color .2s;
  font-weight: bold;

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: currentColor;
  }
}
