.landing-header {
  > .title {
    @extend .page-title;
    line-height: 1.5;
  }

  > .links {
    display: grid;
    grid-gap: 4px 24px;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-template-areas: 'button link' 'footnote .';
  }

  > .links > .button {
    grid-area: button;
  }

  > .links > .link {
    grid-area: link;
  }

  > .links > .footnote {
    grid-area: footnote;
    font-size: 14px;
    max-width: 18em;
    color: $color-light-gray;
    min-width: 100%;
  }

  > .links > .footnote > a {
    font-weight: bold;
  }

  @media (max-width: 406px) {
    > .links {
      grid-template-areas: 'button' 'footnote' 'link';
    }

    > .links > .link {
      margin-top: 8px;
    }
  }
}
