.landing-header {
  > .title {
    @extend .page-title;
  }

  > .links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 24px;
    margin-top: 24px;
  }

  > .footnote {
    margin-top: 8px;
    font-size: 14px;
    max-width: 18em;
    color: $color-light-gray;
  }

  > .footnote > a {
    font-weight: bold;
  }
}
