.link-button {
  display: inline-block;
  background-color: $color-yellow;
  border-radius: 6px;
  padding: 14px 24px;
  transition: box-shadow .125s ease-in-out;
  cursor: pointer;

  &.-disabled {
    background-color: $color-light-gray;
    color: #fff;
    pointer-events: none;
  }

  &:not(.-disabled):hover,
  &:not(.-disabled):focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px lighten($color-yellow, 10%);
  }

  &:not(.-disabled):active {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px lighten($color-yellow, 10%);
  }
}
