.page-footer {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;

  > .content {
    width: $page-width;
    max-width: 100%;
    padding: 40px $page-margin-side;
    margin: auto;
  }

  > .content > .info {
    font-size: 12px;
    margin-top: 8px;
  }

  > .content > .info > .link {
    font-weight: 600;
  }

  > .content > .info > .link:hover,
  > .content > .info > .link:focus,
  > .content > .info > .link:active {
    text-decoration: underline;
  }
}
