<div class="page-content">
    <h1 class="page-title">Page Not Found</h1>
    <p>
        We're very sorry, the page you were looking for was not found. <br />
        Maybe you can start from the <a href="/" class="inline-link">homepage</a> again.
    </p>
</div>
