<div class="landing-header">
    <h1 class="title">Designing the Future of Artifical Intelligence</h1>
    
    <nav class="links">
        <span class="link-button -disabled">Read the Whitepaper</span>
        <a class="icon-link" href="https://github.com/MyelinAI">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon">
                <use xlink:href="{{assets.github_icon}}#icon"></use>
            </svg>

            <span class="label">GitHub</span>
        </a>
    </nav>

    <footer class="footnote">
        We’re still <a href="https://github.com/MyelinAI/docs">preparing the whitepaper</a>. Hang tight.
    </footnote>
</div>
