<div class="content-wrapper">
    <div class="landing-header">
        <h1 class="title">Designing the Future of Artifical Intelligence</h1>

        <nav class="links">
            <a class="button link-button js-whitepaper-pdf-link" href="https://whitepaper.myelin.ch/whitepaper.pdf">Read the Whitepaper</a>

            <a class="link icon-link" href="https://github.com/myelin-ai">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon">
                    <use xlink:href="{{assets.github_icon}}#icon"></use>
                </svg>

                <span class="label">GitHub</span>
            </a>

            <footer class="footnote js-whitepaper-last-updated">
                Note: This document is still a work in progress.
            </footer>
        </nav>
    </div>
</div>

<svg width="1680px" height="auto" class="content-divider">
    <use xlink:href="{{assets.wave_line}}#wave" href="{{assets.wave_line}}#wave" />
</svg>

<div class="content-wrapper">
    <div class="landing-features">
        <section class="landing-feature">
            <h2 class="title">True General Intelligence</h1>
            <svg class="icon">
                <use xlink:href="{{assets.brain_icon}}#icon" href="{{assets.brain_icon}}#icon">
            </svg>
            <div class="text">
                <p class="content-paragraph">
                    Current state-of-the-art neural networks employed in 
                    image recognition and decision making software require
                    enormous, highly specialized datasets for their training.
                    The result is a rigid AI that is only capable of fulfilling
                    a single, well defined task.
                    This restriction does not reflect the evergrowing challenges
                    of the real world.
                    As intelligent beings, we overcome difficulties by recollecting
                    knowledge from many independent domains. When our understanding of the
                    world reaches a limit, we explore it and bend its rules in order 
                    to independendly increase our knowledge. All without a pre-labeled database.
                </p>
                <p class="content-paragraph">
                    What we seek is a general artificial intelligence which is capable
                    of the same autonomous solution-finding that humans are capable of
                    since their infancy.
                </p>
            </div>
        </section>
    </div>
</div>

<script src="{{assets.whitepaper_js}}" async defer></script>
