<div class="landing-header">
    <h1 class="title">Designing the Future of Artifical Intelligence</h1>
    
    <nav class="links">
        <a class="button link-button js-whitepaper-pdf-link" href="https://whitepaper.myelin.ch/whitepaper.pdf">Read the Whitepaper</a>

        <a class="link icon-link" href="https://github.com/myelin-ai">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon">
                <use xlink:href="{{assets.github_icon}}#icon"></use>
            </svg>

            <span class="label">GitHub</span>
        </a>

        <footer class="footnote js-whitepaper-last-updated">
            Note: This document is still a work in progress.
        </footer>
    </nav>
</div>

<script src="{{assets.whitepaper_js}}" async defer></script>
